.palito{
    width: 1rem;
    height: 5rem;
}
.cuerpo{
    width: 8rem;
    height: 18rem;
}
 .rojo{
    width: 5rem;
    height: 5rem;
 }
 .amarillo{
    width: 5rem;
    height: 5rem;
 }
 .verde{
    width: 5rem;
    height: 5rem;
 }